.app {
  display: flex;
  margin: 8px;
  padding: 20px;
  border: 1px solid #000;
}
.app__section {
  width: 100%;
}
.app__section-enable {
  display: none;
}
@media screen and (max-width: 840px) {
  .app {
    flex-direction: column;
  }
}
