@charset "utf-8";
.img {
    width: 100%;
    height: 100%;
}

.img-base {
    display: inline-block;
}

.img-res {
    vertical-align: top;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

.img-top {
    object-position: top;
}

.img-left {
    object-position: left;
}

.img-center {
    object-position: center;
}
